* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.col h1 {
    display: inline;
}

.col {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.col>h1 {
    font-family: century gothic;
    font-size: 100px;
}

.col>h1>span {
    font-family: century gothic;
    font-size: 100px;
}

.col .us {
    color: greenyellow;
}

.col .do {
    color: orange;
}

.col .values {
    color: violet;
}