* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.FaqHeading {
    background-color: tomato;
    color: white;
    margin: 0;
}

.FaqHeading>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    font-family: century gothic;
    font-size: 63px;
}

.faq {
    margin-top: 30px;
}

.question {
    display: flex;
    align-items: center;
    color: gray;
    background-color: whitesmoke;
    border-left: 5px solid red;
    font-size: 17px;
}

.question p {
    margin-bottom: 0;
}

.question span {
    color: red;
    display: inline;
    margin-left: 1.5%;
    font-size: 45px;
}

.answer {
    display: flex;
    align-items: center;
    color: darkgray;
    border-left: 5px solid darkgray;
}

.answer p {
    margin-bottom: 0;
}

.answer span {
    color: darkgray;
    display: inline;
    margin-left: 1.5%;
    font-size: 45px;
}

.ask {
    margin-left: 1%;
    margin-bottom: 1.5%;
    color: dimgray;
}

.button {
    display: flex;
    justify-content: end;
}