* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bacbutton {
    position: absolute;
    color: black;
    font-size: 50px;
    margin: 10px 0 0 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.loginMain {
    position: relative;
    width: 100%;
    height: 100vh;
}

.login {
    background-color: white;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.innerRow {
    width: 100%;
    margin: 0 !important;
}

img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.image {
    padding: 0 !important;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer {
    width: 100%;
    padding: 0 30px 0 30px;
}

.formContainer>h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 25px;
}