* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.hero {
    background-color: #FFA62F;
    margin-top: 40px;
}

.containerTop {
    margin-top: 20px;
}

.itemButtons {
    display: flex;
    gap: 10px;
}

.gap {
    gap: 40px;
}